* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

body {
    position: relative;
    width: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #ffe5e5;
    background-image: url('https://img.freepik.com/fotos-premium/marco-corazones-rojos-aislados-sobre-fondo-blanco-concepto-dia-san-valentin_356877-256.jpg');
    background-repeat: no-repeat;
    background-size: cover; /* Esta línea asegura que la imagen cubra toda la pantalla */
    background-position: center;
}

.container {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    gap: 20px;
    max-width: 500px;
    margin: 20px;
}

.container .tenor-gif-embed {
    display: flex;
    max-width: 200px;
}

.container .btn {
    display: flex;
    gap: 25px;
}

/* .btn a {
    text-decoration: none;
    color: #111;
    background: #fff;
    padding: 10px 25px;
    border-radius: 8px;
} */
.btn-success{
    text-decoration: none;
    color: #ffffff;
    background: #08ab10;
    padding: 10px 25px;
    border-radius: 8px;
    border: 1px solid #07840d;
}

.btn-success:hover{
    background: #07840d;
}

.btn-danger{
    text-decoration: none;
    color: #ffffff;
    background: #ba1212;
    padding: 10px 25px;
    border-radius: 8px;
    border: 1px solid #8c1919;
}

.btn-danger:hover{
    background: #8c1919;
}